body {
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
}
.container {
  max-width: 650px;
  border: 1px solid gray;
  margin: 20px auto;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 16px;
}
h2::first-letter {
  text-transform: capitalize;
}
h3 {
  text-align: left;
  font-size: 16px;
  margin: -20px 235px 15px;
}
form {
  text-align: center;
}
#celsius {
  color: black;
  font-size: 10px;
  position: relative;
  bottom: 20px;
}
#fahrenheit {
  color: black;
  font-size: 10px;
  position: relative;
  bottom: 20px;
}

#between {
  font-size: 10px;
  position: relative;
  bottom: 20px;
}
.search {
  border-radius: 10px;
  color: black;
  background-color: white;
}
.container .search:hover {
  color: white;
  background-color: grey;
}
.container button:hover {
  color: white;
  background-color: grey;
}
button {
  position: relative;
  top: -55px;
  left: 450px;
  border-radius: 10px;
  color: black;
  background-color: white;
}
.col-2 {
  text-align: center;
  color: black;
  border: 1px solid black;
}
.card {
  margin: 0 auto;
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
  width: 550px;
  padding: 0px 11px;
}
#icons {
  position: relative;
  left: -17px;
}
footer {
  font-size: small;
  display: block;
  color: gray;
  margin: 20px;
}
